.App{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  width: 70%;
  text-align: center;
}

.head h2{
  text-align: center;
}

.break img{
    height: 25px;
    image-rendering: auto;
}

.break span{
  font-weight: 700;
  font-size: larger;
  padding: 5px;
}

.session img{
  height: 25px;
  image-rendering: auto;
}

.session span{
  font-weight: 700;
  font-size: larger;
  padding: 5px;
}

.clock img{
  height: 25px;
  image-rendering: auto;
}

.clock span{
    background-color: rgb(107, 192, 248);
    margin-right: 9px;
}